<h1>Boxes#edit</h1>
<p>Find me in app/views/boxes/edit.html.erb</p>

<%= simple_form_for @box do |f| %>
  <%= f.input :name, label: false, placeholder: 'Name' %>
  <%= f.input :size, prompt: 'Size', collection: Box::SIZES, label: false %>
  <%= f.association :style, prompt: 'Style', :label_method => lambda { |style| "#{style.name}" }, label: false %>
  <%= f.association :sound, prompt: 'Sound', :label_method => lambda { |sound| "#{sound.name}" }, label: false %>
  <%= f.submit "Apply changes" %>
<% end %>
