<nav>
<!-- navbar top -->
  <div class="navbar-top">
    <div class="navbar-logo">
      <div class="home"> <%= link_to image_tag("logo_moobox_light.png"), root_path %> </div>
    </div>

    <!-- Theme switch -->
    <div class="theme-items">
      <%= link_to "", root_path(theme: "#{ current_opposite_theme }"), id: "theme-link" %>
      <i class="<%= theme_is_dark? ? 'fas' : 'far' %> fa-moon"></i>
        <% if cookies[:theme] == "dark" %>
          <input id="theme-toggle" type="checkbox" class="toggle-theme" checked>
        <% else %>
          <input id="theme-toggle" type="checkbox" class="toggle-theme">
        <% end %>
      <i class="<%= theme_is_dark? ? 'far' : 'fas' %> fa-moon"></i>
    </div>
    <!-- Theme switch end -->
  </div>

<!-- navbar bottom -->
  <div class="navbar-bottom">
    <!-- navbar buttons -->
    <ul>
      <li> <%= link_to "Mooboxes", boxes_path %> </li>
      <li> <%= link_to "Create a Moobox", new_box_path %> </li>
      <li> <%= link_to "Sounds", sounds_path %> </li>
      <li> <%= link_to "Create a sound", new_sound_path %> </li>
      <li> <%= link_to "Styles", styles_path %> </li>
      <li> <%= link_to "Create a style", new_style_path %> </li>
      <% if user_signed_in? %>
        <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li> <%= link_to "Log in", new_user_session_path %> </li>
        <li> <%= link_to "Sign in", new_user_registration_path %> </li>
      <% end %>      
    </ul>
  </div>
</nav>
