<!DOCTYPE html>
<html>
  <head>

    <title>Moobox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= cookies[:theme] || 'light' %> <%= "sass-theme-#{(cookies[:theme] || 'light')}" %>" id="<%= controller_name %>-<%= action_name %>" >
    <!-- ================================================== -->
    <!-- <%= display_current_method(50) %> -->
    <!-- ================================================== -->

    <%= render 'shared/navbar' %>

    <%= yield %>

    <% flash.each do |type, msg| %>
      <div class="rails-flashes alert alert-<%= type == 'notice' ? 'success' : 'warning' %>">
        <%= msg %>
      </div>
    <% end %>

  </body>

</html>
